.card {
  width: 308px;
  height: 480px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #5D5C4D;
  flex-shrink: 0;
  display: block;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, 
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0.8) 50%, 
    rgba(0,0,0,0.5) 80%,
    rgba(0,0,0,0) 100%
  );
  pointer-events: none;
}

.infoText {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 2;
  text-align: left;
}

.infoText h1, .infoText p {
  color: white;
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
}