/* .miniCards {
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 15%;
  border: 1px solid black;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.miniCards::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  z-index: 1;
}


.card{
  display: flex;
  flex-direction: row;
  border: 2px solid #5D5C4D;
  background-color: #ECE6D4;
  height: 150px;
  width: 700px;
  overflow: hidden;
  border-radius: 10px;
}

.poster{
  height: 90%;
  width: 120px;
  display: flex;
  object-fit: cover;
  margin: 1% 5% 1% 1%;
}

.infoText{
  flex: 1;
  max-width: 100%;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
  margin-right: 2%;
} */
.card {
  display: flex;
  flex-direction: row;
  border: 2px solid #5D5C4D;
  background-color: #ECE6D4;
  height: 150px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.poster {
  height: 90%;
  width: 120px;
  object-fit: cover;
  margin: 1% 5% 1% 1%;
}

.infoText {
  flex: 1;
  max-width: 100%;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
  margin-right: 2%;
}