.carousel{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #9D9D8C;
  border-bottom: 3px solid #5D5C4D;
}

.carousel-container{
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  position: relative;
  overflow: hidden;
}

.cards-wrapper{
  display: flex;
  width: 300%; 
  transition: transform 0.5s ease;
}
/* .carousel-container {
  width: 700px;
  height: 150px;
}

.cardSwiper {
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
} */